* {
	box-sizing: border-box;
	font-family: "Overpass", sans-serif;
}

.tag {
    width: auto;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #010100;
	padding: 10px 10px;
	font-size: 15px;
	list-style: none;
	border-radius: 6px;
	margin: 0 8px 8px 0;
	background: #FDB750;
}

.tag_title {
    margin-top: 3px;
}