.search_bar {
    display: flex;
    position: relative;
    --main-width: 870px;
    width: 750px;
    height: 48px;
    /* margin: 0 auto; */
    /* margin-top: 20px; */
    border-radius: 4px;
    /* box-shadow: 0 8px 14px rgba(0, 0, 0, 0.7); */
    margin-bottom: 5px;
}

.search_category {
    position: relative;
    padding: 0 20px;
    background-color: #821D30;
    border-radius: 4px 0 0 4px;
}

.search_category_link {
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.search_category_icon {
    display: inline-block;
    margin-left: 20px;
    font-size: 30px;
    transition: all 0.5s;
}

.category_menu {
    border: 0; margin: 0;
    width: var(--main-width);
    max-height: 300px;
    height: auto;
    padding: 20px;
    background-color:#FFC5D0;
    border-radius: 4px;
    font-size: 14px;
    /* box-shadow: 0 8px 14px rgba(0, 0, 0, 0.7); */
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.38s;
    z-index: 11;
    overflow-y: auto;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: space-between;
	flex-wrap: wrap;
}

.category_menu_item {
    position: relative;
    padding: 6px 0 6px 36px;
    color: #999999;
    font-size: 14px;
    line-height: 22px;
    text-transform: capitalize;
    transition: all 0.13s;
}

.category_menu_item:hover {
    color: #fbbc05; 
}


.category_menu_focus { /* When the dropdown is active */
    border: 0; margin: 0;
    width: 750px;
    max-height: 300px;
    height: auto;
    padding: 20px;
    background-color:#FFC5D0;
    border-radius: 4px;
    /* font-size: 5px; */
    /* box-shadow: 0 8px 14px rgba(0, 0, 0, 0.7); */
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0; left: 0;
    transition: all 0.38s;
    z-index: 11;
    overflow-y: auto;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: space-between;
	flex-wrap: wrap;
    top: calc(100%);
    opacity: 1;
    pointer-events: all;
}

.search_category_icon_focus {
    display: inline-block;
    margin-left: 20px;
    font-size: 30px;
    transition: all 0.5s;
    transform: rotate(180deg);
}

.input_search {
    width: 100%;
    flex: 1;
}

.input_search input {
    display: block;
    width: 100%;
    height: 48px;
    color: #B8390E;
    background-color: #F7BEC0;
    font-size: 14px;
    border-radius: 0 4px 4px 0;
    border: 0;
    padding-left: 20px;
}

input:focus{
    outline: none;
}

.search_btn {
    width: 58px;
    height: 100%;
    color: #ffffff;
    background-color: #F7BEC0;
    font-size: 16px;
    border-radius: 0 4px 4px 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
}

.search_btn_icon {
    font-size: 24px;
}

.search_menu {
    display: none;
    width: 100%;
    padding: 20px 10px;
    border-radius: 0 4px 4px 0;
    color: #999999;
    background-color: #F7BEC0;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: calc(100% + 0px);
    left: 0;
    z-index: 10;
}

.input_search input:focus + .search_menu {
    display: block;
}

.selected_ingredient_container {
    max-width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content:center;
    margin-left: 20px;
}
.back_button {
    width: auto;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #FF5412;
	padding: 10px 10px;
	font-size: 15px;
	list-style: none;
	border-radius: 6px;
	margin: 0 8px 8px 0;
    color: #FFB85D;
    cursor: pointer;
}