.text_container {
   margin-left: 15px;
   height: 55px;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* number of lines to show */
   font-size: 1.5em;
}